/*
	The Dregs ~ Blender CSS.
	hacks and such
*/

/* =General
----------------------------------------------------------------------------*/
.mir { letter-spacing : -1000em; }
/* Just for Opera, but hide from MacIE */
/*\*/html>body .mir { letter-spacing : normal; text-indent : -999em; overflow : hidden;}
/* End of hack */

p.mir {line-height:0;}

/* http://www.positioniseverything.net/easyclearing.html */

.clearfix:after
{
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}

.clearfix
{
    display: inline-block;
}

* html .clearfix
{
    height: 1%;
}

.clearfix
{
    display: block;
}