<form action="contact" method="get" accept-charset="utf-8" class="contentForm frTen">
    <fieldset id="contact" class="infoForm clearfix frFive">
        <legend><span class="trFive">Contact Information</span></legend>
        <dl class="clearfix">
            <dt class="required"><label for="email">Email</label></dt>
            <dd><input type="text" name="email" value="" id="email"></dd>
            <dt><label for="phone">Phone</label></dt>
            <dd><input type="text" name="phone" value="" id="phone"></dd>
            <dt><label for="mobile">Mobile</label></dt>
            <dd><input type="text" name="mobile" value="" id="mobile"></dd>
            <dt><label for="im_uname">Instant Message</label></dt>
            <dd><input type="text" name="im_uname" value="" id="im_uname"> @ 
            <select name="im" id="im">
                <option value="aol">aol</option>
                <option value="gchat">gchat</option>
                <option value="msn">msn</option>
            </select></dd>
        </dl>
    </fieldset>
    <div><input type="submit" value="Save"></div>
</form>