<div id="emailForm" class="fbBlock">
    <form action="" method="get" accept-charset="utf-8" class="contentForm frTen">
        <fieldset id="shareThis" class="clearfix frFive">
            <legend><span class="trFive">Share this</span></legend>
            <dl class="clearfix">
                <dt><label for="your_email">Your Email</label></dt>
                <dd><input type="text" name="your_email" value="" id="yourEmail"></dd>
                <dt><label for="to_email">To Email</label></dt>
                <dd><input type="text" name="to_email" value="" id="toEmail"></dd>
                <dt><label for="message">Message</label></dt>
                <dd class="textareaObject"><textarea name="message"></textarea></dd>
            </dl>
        </fieldset>
        <div><input type="submit" value="Send" id="sendEmail"></div>
    </form>
    <div id="emailSent" class="frTen">
        <h3>Thanks</h3>
        <p>Your email has been sent.</p>
        <p><a href="#" class="close">Close</a></p>
    </div>
</div>