<form action="" method="get" accept-charset="utf-8"  class="contentForm frTen">
    <fieldset id="oldPassword" class="infoForm clearfix frFive">
        <legend><span class="trFive">Old Password</span></legend>
        <dl class="clearfix">
            <dt><label for="password">Old Password</label></dt>
            <dd><input type="password" name="password" value="" id="password"></dd>
        </dl>
    </fieldset>
    <fieldset id="newPassword" class="infoForm clearfix frFive">
        <legend><span class="trFive">New Password</span></legend>
        <dl class="clearfix">
            <dt><label for="password">New Password</label></dt>
            <dd><input type="password" name="password" value="" id="password"></dd>
            <dt><label for="password">Confirm</label></dt>
            <dd><input type="password" name="password" value="" id="password"></dd>
        </dl>
    </fieldset>

    <div><input type="submit" value="Save"></div>
</form>