<form action="" method="get" accept-charset="utf-8"  class="contentForm frTen">
    <fieldset id="twitter" class="infoForm clearfix frFive">
        <legend><span class="trFive">Twitter</span></legend>
        <dl class="clearfix">
            <dt><label for="your_email">Username</label></dt>
            <dd><input type="text" name="username" value="" id="username"></dd>
            <dt><label for="password">Password</label></dt>
            <dd><input type="password" name="password" value="" id="password"></dd>
        </dl>
    </fieldset>

    <div><input type="submit" value="Save"></div>
</form>