<div id="controlPanel">
    <div id="controlPanelView" class="frTwenty container_12 clearfix">
        <div class="col1 grid_4">
            <h3>Styling Options</h3>
            <p><a href="#" class="gridOn"><span class="showState">Grid On</span><span class="hideState">Grid Off</span></a></p>
        </div>
        <div class="col2 grid_4">
            <h3>Layout Options</h3>
            <ul id="columns">
                <li><a href="#" class="oneColumnLayout">One Column Layout</a>
                    <ul class="oneSubMenu">
                        <li>The default is 460px wide</li>
                        <li><a href="#" class="oneColMed">One Column Medium (700px)</a></li>
                        <li><a href="#" class="oneColWide">One Column Wide (960px)</a></li>
                    </ul>
                </li>
                <li><a href="#" class="twoColumnLayout">Two Column Layout</a></li>
                <li><a href="#" class="threeColumnLayout">Three Column Layout</a></li>
            </ul>
        </div>
        <div class="col3 grid_4">
            <h3>Feature Options</h3>
            <ul>
                <li><a href="#" class="secondaryContentToggle"><span class="showState">Show Secondary Content</span><span class="hideState">Hide Secondary Content</span></a></li>
            </ul>
        </div>
    </div>
</div>