<div id="controlPanel">
    <div id="controlPanelView" class="frTwenty container_12 clearfix">
        <div class="col1 grid_4">
            <h3>Styling Options</h3>
            <p><a href="#" class="gridOn button frFive"><span class="openState">Grid On</span><span class="closeState">Grid Off</span></a></p>
        </div>
        <div class="col2 grid_4">
            <h3>Layout Options</h3>
            </ul>
                <li><a href="#" class="oneColumnLayout">One Column Layout</a></li>
                <li><a href="#" class="twoColumnLayout">Two Column Layout</a></li>
                <li><a href="#" class="threeColumnLayout">Three Column Layout</a></li>
            </ul>
        </div>
    </div>
</div>