<ul class="nav clearfix grid_16">
    <li><a href="/blog/" accesskey="b">Blog</a></li>
    <li><a href="/item/" accesskey="i">Item</a></li>
    <li><a href="/list/" accesskey="l">List</a></li>
    <li><a href="/account/" accesskey="a">Account</a></li>
    <li><a href="/article/" accesskey="t">Article</a></li>
    <li><a href="/media/" accesskey="m">Media</a></li>
    <li><a href="/tags/" accesskey="t">Tags</a></li>
    <li><a href="/contact-us/" accesskey="c">Contact Us</a></li>
    <li><a href="/contact-us/" accesskey="f">Form With Feedback</a></li>
</ul>