{% load webdesign %}

<div id="secondaryContent" class="container_16 clearfix frTen">
        <div id="secondaryNotice" class="grid_4">
            <h3>a title for content</h3>
            <p>{% lorem 30 w %}</p>
        </div>
        <div id="secondaryNotice" class="grid_7">
            <h3>a title for content</h3>
            <p>{% lorem %}</p>
        </div>
        <div id="secondaryList" class="grid_5">
            <h3>recent items</h3>
                <ul class="objectBlock">
                    <li><a href="">This would be a item</a></li>
                    <li><a href="">Another Title for the bottom</a></li>
                    <li><a href="">This is a bottom</a></li>
                    <li><a href="">If I were a link</a></li>
                </ul>
        </div>
</div>