{% extends "base.html" %}

{% load markup webdesign comments %}

{% block page_content %}

{% comment %}
    The actual content to read
{% endcomment %}

    {% block breadcrumb %}
        {% include "includes/content_tools.html" %}
    {% endblock %}
    
    <div id="page_content" class="grid_8 alpha">

        <h1 class="page_title">{{ flatpage.title }}</h1>
        
        {% block meta %}
            {% include "includes/meta.html" %}
        {% endblock %}

        {{ flatpage.content|textile }}
        
        {% get_comment_list for flatpage as comment_list %}
        {% include "includes/comment_list.html" %}
        
        {% render_comment_form for flatpage %}

    </div>

{% endblock %}

{% block sidebar %}

    {% include "includes/blog_sidebar.html" %}
    
{% endblock %}

{% block secondaryContent %}

    {% include "includes/secondary_content.html" %}
    
{% endblock %}